---
interface Props {
  lang: 'en' | 'es';
}

const { lang } = Astro.props;

interface experienciasType {
  puesto: string;
  empresa: string;
  periodo: string;
  descripcion: string[];
  skills: string[];
}

const experiencias: experienciasType[] = [
  {
    puesto: 'INGENIERO FULL STACK',
    empresa: 'Independiente',
    periodo: 'Marzo 2023 - Actualidad',
    descripcion: [
      'Diseñé y desarrollé soluciones de software full-stack para diversos clientes, abarcando arquitectura, implementación, despliegue y mantenimiento.',
      'Creé una plataforma de e-commerce segura y escalable con Stripe, permitiendo al cliente iniciar ventas en línea y aumentar sus ingresos en un 30% durante los primeros tres meses.',
      'Desarrollé una aplicación en Python + Flask con integración de IA para analizar patrones de consumo, generar visualizaciones financieras y recomendar acciones para optimizar gastos.',
    ],
    skills: ['Python', 'Flask', 'IA', 'Nextjs', 'Stripe.js', 'Angular'],
  },
  {
    puesto: 'Estudiante de Ingeniería en Desarrollo de Software',
    empresa: 'Universidad Abierta y a Distancia de México (UnADM)',
    periodo: 'Agosto 2025 - Presente',
    descripcion: [
      'Actualmente curso la Ingeniería en Desarrollo de Software, adquiriendo conocimientos avanzados en programación, diseño de software y metodologías ágiles.',
      'Participo en proyectos académicos de aplicaciones web y móviles, aplicando buenas prácticas de la industria y colaborando en equipos multidisciplinarios.',
    ],
    skills: ['Java', 'C#', 'SQL', 'UML', 'Metodologías Ágiles'],
  },
  {
    puesto: 'Desarrollador Full Stack',
    empresa: 'Freelance',
    periodo: 'Agosto 2022 - Diciembre 2023',
    descripcion: [
      'Desarrollé una aplicación web completa para una tienda en línea utilizando Next.js, Node.js y una base de datos MongoDB, lo que permitió a los usuarios navegar por productos, agregar artículos al carrito y completar compras de manera segura.',
      'Optimice el rendimiento del frontend para garantizar tiempo de carga rápidos e implemente una integración segura con la API de PayPal para el procesamiento de pagos.',
    ],
    skills: [
      'Algoritmos y Estructuras de Datos',
      'Programación Orientada a Objetos',
      'Desarrollo Web',
      'Bases de Datos',
      'Metodologías Ágiles',
    ],
  },
  {
    puesto: 'Desarrollador FrontEnd',
    empresa: 'Consultor de Software Freelancer',
    periodo: 'Enero 2024 - Agosto 2024',
    descripcion: [
      'Colaboré con una startup para desarrollar una aplicación web de gestión de tareas utilizando React y Tailwind CSS, mejorando la experiencia del usuario y aumentando la retención de clientes en un 25%.',
      'Implementé funcionalidades interactivas y optimicé el rendimiento del sitio web, logrando tiempos de carga rápidos y una navegación fluida.',
      'Trabajé en estrecha colaboración con diseñadores y otros desarrolladores para asegurar que el producto final cumpliera con los requisitos del cliente y las mejores prácticas de la industria.',
    ],
    skills: ['Bash', 'Python', 'Docker', 'Kubernetes', 'CI/CD'],
  },
  {
    puesto: 'Desarrollador DevOps',
    empresa: 'Upwork',
    periodo: 'Septiembre 2021 - Enero 2022',
    descripcion: [
      'Implementé y gestioné pipelines de CI/CD utilizando Jenkins y GitHub Actions para automatizar el proceso de construcción, prueba y despliegue de aplicaciones, reduciendo el tiempo de lanzamiento al mercado en un 40%.',
      'Configuré y mantuve infraestructuras en la nube utilizando AWS, incluyendo la gestión de instancias EC2, S3 y RDS, asegurando alta disponibilidad y escalabilidad de las aplicaciones desplegadas.',
      'Colaboré con equipos de desarrollo para integrar prácticas de DevOps en el ciclo de vida del desarrollo de software, promoviendo una cultura de colaboración y mejora continua.',
    ],
    skills: ['Next.js', 'Node.js', 'React', 'PayPal', 'Zustand', 'Full-stack'],
  },
  {
    puesto: 'DESARROLLADOR FRONTEND JUNIOR',
    empresa: 'Freelance',
    periodo: 'Enero 2021 - Septiembre 2021',
    descripcion: [
      'Desarrollé sitios web responsivos y atractivos utilizando HTML, CSS y JavaScript, asegurando una experiencia de usuario óptima en dispositivos móviles y de escritorio.',
      'Colaboré con diseñadores para implementar interfaces de usuario basadas en maquetas, mejorando la usabilidad y la estética del sitio web.',
      'Optimicé el rendimiento del sitio web mediante la minificación de archivos y la optimización de imágenes, lo que resultó en tiempos de carga más rápidos y una mejor experiencia para los usuarios.',
    ],
    skills: ['HTML', 'CSS', 'JavaScript', 'jQuery', 'Responsive Design'],
  },
];

const experienciasIngles: experienciasType[] = [
  {
    puesto: 'FULL STACK ENGINEER',
    empresa: 'Independent',
    periodo: 'March 2023 - Present',
    descripcion: [
      'Designed and developed end-to-end software solutions for various clients, from conceptualization and architecture to deployment and maintenance.',
      'Created a secure and scalable e-commerce platform that enables the client to start their online sales, managing the complete flow from product selection to successful payment with Stripe, increasing their sales by 30% in the first three months.',
      'Developed a Python + Flask application that integrates AI models to analyze consumption patterns, generate financial visualizations, and suggest concrete actions to minimize expenses.',
    ],
    skills: ['Python', 'Flask', 'AI', 'Nextjs', 'Stripe.js', 'Angular'],
  },
  {
    puesto: 'Software Development Engineering Student',
    empresa: 'Universidad Abierta y a Distancia de México (UnADM)',
    periodo: 'August 2025 - Present',
    descripcion: [
      'Currently pursuing a degree in Software Development Engineering, acquiring advanced knowledge in programming, software design, and agile development methodologies.',
      'Participation in academic projects involving the creation of web and mobile applications, applying industry best practices and collaborating in multidisciplinary teams.',
    ],
    skills: ['Java', 'C#', 'SQL', 'UML', 'Agile Methodologies'],
  },
];

const text = {
  es: {
    title: 'Experiencia Laboral',
    experiencias: experiencias,
  },
  en: {
    title: 'Work Experience',
    experiencias: experienciasIngles,
  },
};
---

<section id="experiencia" class="py-20 dark:bg-darker">
  <div class="container px-4 mx-auto">
    <h2 class="mb-12 text-3xl font-bold text-center">
      {text[lang].title}
    </h2>

    <div class="max-w-3xl mx-auto">
      {
        text[lang].experiencias.map((exp, index) => (
          <div class="relative pb-12 pl-8 last:pb-0">
            {/* Timeline line */}
            {index < text[lang].experiencias.length - 1 && (
              <div class="timeline-line absolute left-3 top-9 dark:top-3 bottom-0 w-0.5" />
            )}

            {/* Timeline dot */}
            <div class="timeline-dot border-accentu absolute left-0 w-6 h-6 border-2 rounded-full top-3 dark:bg-dark" />

            <div class="bg-secondary p-6 transition-shadow duration-300 rounded-lg shadow-md hover:shadow-lg">
              <div class="flex flex-col justify-between mb-3 md:flex-row md:items-center">
                <h3 class="text-xl font-bold text-accent">{exp.puesto}</h3>
                <span class="text-sm dark:text-light/60">{exp.periodo}</span>
              </div>
              <h4 class="mb-2 text-lg font-medium">{exp.empresa}</h4>
              {exp.descripcion.map((desc) => (
                <p class="mb-2 leading-relaxed text-balance">{desc}</p>
              ))}

              {/* Skills tags */}
              <div class="flex flex-wrap gap-2 mt-4">
                {exp.skills &&
                  exp.skills.map((skill) => (
                    <span class="bg-badge px-2 py-1 text-xs rounded dark:bg-slate-800 bg-slate-200 dark:text-secondary-foreground select-none">
                      {skill}
                    </span>
                  ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
