---
const experiencias = [
  {
    puesto: 'INGENIERO FULL STACK',
    empresa: 'Independiente',
    periodo: 'Marzo 2023 - Actualidad',
    descripcion:
      'Diseñe y desarrolle soluciones de software de ciclo completo para diversos clientes, desde la conceptualización y arquitectura hasta el despliegue y el mantenimiento. Cree una plataforma de e-commerce segura y escalable que permite al cliente iniciar sus ventas en línea, gestionando el flujo completo desde la selección de producto hasta el pago exitoso con Stripe, lo que incrementó sus ventas en un 30% durante los primeros tres meses. Desarrolle una aplicación en Python + Flask que integra modelos IA para analizar patrones de consumo, generar visualizaciones financieras y sugiere acciones concretas para minimizar gastos',
    skills: ['Python', 'Flask', 'IA', 'Nextjs', 'Stripe.js', 'Angular'],
  },
  {
    puesto: 'Desarrollador FrontEnd',
    empresa: 'Consultor de Software Freelancer',
    periodo: 'Enero 2024 - Agosto 2024',
    descripcion:
      'Implemente el ciclo de compra de extremo a extremo, abarcando desde la autenticación de usuarios y un carrito de compras dinámico. Gestione el estado global de la aplicación con Zustand, permitiendo un manejo de inventario eficiente y en tiempo real que se sincronizaba con las acciones del usuario. Optimice el rendimiento del frontend para garantizar tiempo de carga rápidos e implemente una integración segura con la API de PayPal para el procesamiento de pagos.',
    skills: ['Bash', 'Python', 'Docker', 'Kubernetes', 'CI/CD'],
  },
  {
    puesto: 'Desarrollador DevOps',
    empresa: 'Upwork',
    periodo: 'Septiembre 2021 - Enero 2022',
    descripcion:
      'Diseñe e implemente un pipeline de CI/CD completo con Docker, Kubernetes y scripts (Python, Bash), reduciendo el tiempo de despliegue a producción en un 95%. Automatice la ejecución de pruebas y fortalecí la seguridad mediante la gestión de variables de entorno. Reduje tiempos de carga en aplicaciones hechas con wordpress en un 40% usando Redis como memoria caché.',
    skills: ['Next.js', 'Node.js', 'React', 'PayPal', 'Zustand', 'Full-stack'],
  },
  {
    puesto: 'DESARROLLADOR FRONTEND',
    empresa: 'Estudiante de Ingeniería en Sistemas',
    periodo: 'Septiembre 2021 - Enero 2025',
    descripcion:
      'Desarrollo de aplicación en Angular con geolocalización en tiempo real, marcado de puntos de interés y trazado de rutas. Integración con API de mapas para visualización interactiva y persistencia local de rutas personalizadas.',
    skills: [
      'Angular',
      'Geolocalización',
      'API de mapas',
      'Persistencia local',
    ],
  },
  {
    puesto: 'DESARROLLADOR FRONTEND JUNIOR',
    empresa: 'Freelance',
    periodo: 'Enero 2021 - Septiembre 2021',
    descripcion:
      'Desarrollo de sitios web y aplicaciones web utilizando HTML, CSS, JavaScript y jQuery. Implementación de diseños responsivos y optimización de rendimiento. Colaboración con clientes para entender sus necesidades y ofrecer soluciones efectivas.',
    skills: ['HTML', 'CSS', 'JavaScript', 'jQuery', 'Responsive Design'],
  },
];
---

<section id="experiencia" class="py-20 dark:bg-darker">
  <div class="container px-4 mx-auto">
    <h2 class="mb-12 text-3xl font-bold text-center">
      Experiencia <span class="text-accent">Laboral</span>
    </h2>

    <div class="max-w-3xl mx-auto">
      {
        experiencias.map((exp, index) => (
          <div class="relative pb-12 pl-8 last:pb-0">
            {/* Timeline line */}
            {index < experiencias.length - 1 && (
              <div class="timeline-line absolute left-3 top-9 dark:top-3 bottom-0 w-0.5" />
            )}

            {/* Timeline dot */}
            <div class="timeline-dot border-accentu absolute left-0 w-6 h-6 border-2 rounded-full top-3 dark:bg-dark" />

            <div class="bg-secondary p-6 transition-shadow duration-300 rounded-lg shadow-md hover:shadow-lg">
              <div class="flex flex-col justify-between mb-3 md:flex-row md:items-center">
                <h3 class="text-xl font-bold text-accent">{exp.puesto}</h3>
                <span class="text-sm dark:text-light/60">{exp.periodo}</span>
              </div>
              <h4 class="mb-2 text-lg font-medium">{exp.empresa}</h4>
              <p class="text-body">{exp.descripcion}</p>

              {/* Skills tags */}
              <div class="flex flex-wrap gap-2 mt-4">
                {exp.skills &&
                  exp.skills.map((skill) => (
                    <span class="bg-badge px-2 py-1 text-xs rounded dark:bg-slate-800 bg-slate-200 dark:text-secondary-foreground select-none">
                      {skill}
                    </span>
                  ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
