---
export const prerender = true;

import { getProjectData } from '../../lib/api';
import Layout from '../../layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async () => {
  const proyectos = await getProjectData();

  const paths = proyectos.map((slug) => ({
    params: { slug: slug.name },
  }));

  return paths;
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const proyecto = await getProjectData().then((data) =>
  data.find((proyecto) => proyecto.name === slug),
);
if (!proyecto) {
  throw new Error(`No se encontró el proyecto con slug: ${slug}`);
}
---

<Layout title={proyecto.title}>
  <main class="container px-4 pt-32 mx-auto">
    <article class="max-w-4xl mx-auto">
      <header class="mb-8">
        <h1
          class="mb-4 text-4xl font-extrabold text-center text-gray-800 dark:text-white"
        >
          {proyecto.title}
        </h1>
        <!-- <p class="text-lg text-gray-600">{proyecto.description}</p> -->
      </header>

      <section class="flex flex-col items-center mb-8">
        <img
          src={proyecto.image}
          alt={proyecto.title}
          class="object-cover w-full h-auto max-w-2xl rounded-lg shadow-md"
        />
      </section>

      <section class="mb-8">
        <h2 class="mb-4 text-2xl font-bold text-gray-800 dark:text-white">
          Detalles del Proyecto
        </h2>
        <!-- <p class="leading-relaxed text-gray-700">{proyecto.details}</p> -->
      </section>

      <footer class="mt-12">
        <a
          href="/"
          class="inline-block text-lg underline transition text-accent hover:text-accent-dark"
        >
          ← Volver a Proyectos
        </a>
      </footer>
    </article>
  </main>
</Layout>
